body{
    background: linear-gradient(90deg, #76acdc, #ffffff, #d30707, #ffffff, #76acdc);;
}

h1{
    color: darkslateblue;
}

table{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: #2E4053 3px solid;
}

main{
  margin-top: 20px;
  display: top;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 20px;
  font-size: x-large;
}

header{
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 20px;
    background-color: lightslategray;
    text-align: center;
    color: green;
}

nav{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border: solid 5px #2E4053;
    background-color: #2E4053;
}

ul{
    display: flex;
    align-items: center;
    border: 1px solid #2E4053;
    height: auto;
    width: 100%;
    margin: 20px;
    padding: 0;
    background-color: whitesmoke;
    list-style-type: none;
    border: #2E4053 3px solid;
}

li{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: whitesmoke;
    margin: 0 10px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    border: solid 2px lightslategray;
    border-radius: 5px;
}

#hospedaje {
    position: fixed;
    display: flex;
    top: 12%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    background-color: transparent;
    padding: 10px;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
  }
  
  #hospedaje a {
    display: inline-block;
    margin-right: 10px;
  }
  

td img{
    height: 350px;
    width: 500;
}

td, th{
    border: #2E4053 3px solid;
}

.container{
    position: relative;
    display: inline-block;
}

img{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0;
    border: 2px solid #2E4053;
}

#conocela{
    display: flex;
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 18px;
    color: black;
    font-size: x-large;
    background-color: transparent ;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: auto;
    padding: auto;
    border: 5px solid black;
}

.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 20px;
}
  
form {
    width: 300px;
    background-color: white;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
  
input[type="submit"] {
    margin-top: 10px;
    background-color: greenyellow;
}

a img{
    display: flex;
    margin: 0;
    padding: 0;
}
  
nav ul li a:hover {
    background: linear-gradient(90deg, #76acdc, #ffffff, #d30707, #ffffff, #76acdc);;
    color: black;
    font-size: x-large;
}